:root {
  --background: #e6e6e6;
  --color: #000;
  --found: lime;
  --rule: color-mix(in hsl, var(--background), var(--color) 50%);
  --button-background: #fff;
}

:root.darkMode {
  --background: #111;
  --color: #eee;
  --found: green;
  --button-background: #333;
}

html {
  background: var(--background);
  color: var(--color);
}

body {
  font-size: 20px;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background: var(--background);
  color: var(--color);
  transition: background .3s, color .3s;
  overflow: hidden;
}

a {
  color: currentColor;
}

button {
  appearance: none;
  display: inline-block;
  padding: 0;
  border: 0;
  background: none;
  color: currentColor;
  font-family: inherit;
  cursor: pointer;
}


#app {
  padding: 10px 10px;
  margin: 0 auto;
  max-width: 500px;
  min-height: 100vh;
  min-height: calc(100dvh);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: unset;
}

